/* ------------------------------ base css ↓↓ */

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #595758;
    background-color: #f2f2f2;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


div.wrapper {
    width: 900px;
    margin: 0 auto;
}

header {
    padding: 30px 0 50px 0;
    margin: 0 0 50px 0;
    background-color: #E07933;
}

header h1 {
    font-family: 'Lobster', cursive;
    float: left;
    line-height: 1;
}

header h2 {
    clear: both;
    padding: 200px 0;
    letter-spacing: 10px;
}

header nav {
    float: right;
}

nav ul li {
    float: left;
    margin: 10px 0 0 20px;
}

#main {
	width: 860px;
    margin: 0 auto;
}

#news, #activity {
	padding: 20px;
	margin-bottom: 20px;
}

#news h2 {
	border-bottom: 1px dashed #4D5269;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
}

#activity h2 {
	border-bottom: 1px dashed #E07933;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
}

footer {
	margin: 80px 0 0 0;
    height: 100px;
    line-height: 100px;
}



/* ------------------------------ your css ↓↓ */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}