body {
    text-align: center;
    background-color: #f9f9f9;
}

p {
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 100px;
    color: white;
}

header {
    background-color: #3BD5D4;
}
