@charset "utf-8";


@import "import.css";
    header {
        background-color: #3BD5D4;
    }
    h1{
        color:white;
        font-size:100px;
    }
    p{
        font-size:20px;
        font-weight: bold;
    }
