/* ------------------------------ base css ↓↓ */

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #595758;
    background-color: #f2f2f2;
}

h1 {
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
}


ul,ol {
    background-color: #fff;
    width: 800px;
    margin: 50px auto;
}



/* ------------------------------ your css ↓↓ */

ul#listimage {
    list-style-type: circle;
}

ol#defalt {
    list-style-type: square;
}

ul#background-img li{
    list-style-type: none;
    background: url(./img/list-check.png)no-repeat ;
    padding-left: 30px
}
