* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #595758;
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

ul {
    list-style-position: inside;
    margin-top: 10px;
}



/* -------------------- your css ↓↓ */

h1 {
    text-align: center;
}

div.box{
    background-color: white;
    border:1px solid #ccc;
    padding: 20px;
    width: 500px;
    margin:0 auto 20px auto;
}

div#box_selector{
    border-top: 5px solid #3D2D51;

}

div#box_list{
    border-top: 5px solid #3D2D51;

}

footer{
    text-align: center;
}
