/* -------------------- your css ↓↓ */

body {
    background-color: #f2f2f2;
}

ul {
    width: 800px;
    margin: 80px auto;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #3BD5D4;
}

ul li {
    float: left;
    width: 158px;
    text-align: center;
    border-left: 1px solid gray;
    font-family:
}

ul li:last-child{
    border-right:1px solid gray;
}
