/* ------------------------------ base css ↓↓ */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #595758;
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    background-color: #fff;
    width: 600px;
    margin: 50px auto;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label:first-child {
    font-size: 30px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

p#submit {
    margin-top: 20px;
}

p#submit input {
    border: none;
    background-color: #3D2D51;
    width: 80px;
    height: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

p#submit input:hover {
    cursor: pointer;
    opacity: 0.8;
}

label {
    margin-right: 20px;
}







/* ------------------------------ your css ↓↓ */

 input:checked +label{
    font-weight: bold;
}
