/* ------------------------------ base css ↓↓ */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #595758;
    background-color: #f2f2f2;
}

div {
    background-color: #fff;
    margin: 30px;
    padding: 20px;
}





/* ------------------------------ your css ↓↓ */

p{
    font-size: 45px;
}

p span{

    font-size: 2em;
}
