/* ------------------------------ base css ↓↓ */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #595758;
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div#wrapper {
	width: 800px;
	height: auto;
	margin: 0 auto;
}

header {
	background-color: #662A37;
	color: #fff;
	text-align: center;
}

#menu h2 {
	color: #662A37;
	font-size: 28px;
	border-left: 8px solid #662A37;
	border-bottom: 1px dashed #662A37;
}

#menu p{
	font-size: 12px;
	color: #662A37;
}

#menu ul li dl dt {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	color: #662A37;
}

#menu ul li dl dd {
	font-size: 14px;
	line-height: 1.4;
}

footer {
	color: #662A37;
	font-size: 12px;
	background-color:#662A37;
	color: #fff;
	text-align: center;
}







/* ------------------------------ your css ↓↓ */
header{
    border-radius: 0 0 20px 20px;
    padding: 20px 0 20px 0;
    margin-bottom: 30px;

}

h2{
    padding-left: 20px;
    margin-bottom: 20px;
}

li{
    border: 1px solid #999;
    list-style: none;
    margin-bottom: 20px;
    padding: 20px;
}

dt{
    padding-bottom: 10px;
}
footer{
    padding: 30px 0;

}
