/* ------------------------------ base css ↓↓ */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #595758;
    background-color: #f2f2f2;
}

div#wrapper {
    width: 900px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
}

p {
    font-size: 14px;
    line-height: 3;
    border: 1px solid grey;
    padding: 20px;
}



/* ミッション --------------------

01.

------------------------------ */




/* ------------------------------ your css ↓↓ */

body{
    background-image:url(../../../../images/flower.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}
