

p {
    color: #595758;
    line-height: 30px;
    margin: 50px 0;
}

h1 {
    padding: 250px 0;
}

a {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 30px;
    line-height: 1;
    padding: 20px;
}

a:hover {
    opacity: 0.8;
}